.schedule {
    margin: 30px 0;
    padding: 30px 20px;
    background-color: var(--grey-dark);
    border-radius: 15px;
}

.schedule__title {
    margin: 0 0 25px 0;
    font-weight: 600;
    font-size: 20px;
    color: var(--yellow);
}

.schedule__items {
    display: flex;
    gap: 9px;
    margin: 0 0 30px 0;
}

.schedule__date {
    margin: 0 0 5px 0;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
}

.schedule__clients {
    padding: 10px 15px;
    width: 120px;
    height: 185px;
    overflow-y: scroll;
    font-size: 12px;
    background-color: var(--item-bg);
    border: 1px solid var(--yellow);
    border-radius: 10px;

    li:not(:last-child) {
        margin: 0 0 7px 0;
    }
}

.client__time {
    font-weight: 500;
    margin: 0 10px 0 0;
}

.schedule__button {
    justify-content: flex-end;
}

.schedule__link {
    width: 227px;
}