.clients {
    padding: 30px 20px;
    width: 240px;
    height: 237px;
    background-color: var(--grey-dark);
    border-radius: 15px;
    border: 1px solid var(--yellow);
}

.clients__title {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: var(--yellow);
}

.clients__number {
    margin: 24px 0;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

.clients__button {
    justify-content: center;
}

.clients__link {
    width: 151px;
}