.sidebar__nav {
    padding: 35px 18px;

    li {
        padding: 0;
    }

    li:not(:last-child) {
        margin: 0 0 10px 0;
    }
}

.sidebar__title {
    margin: 0 0 60px 0;
    font-size: 20px;
    font-weight: 600;

    span {
        color: var(--yellow);
    }
}

.sidebar__menu {
    margin: 0 0 25px 0;
    padding: 0 0 6px 0;
    color: var(--gray);
    text-transform: uppercase;
    border-bottom: 1px solid var(--grey);
}

.sidebar__item {
    display: flex;
    column-gap: 10px;
    align-items: center;
    width: 232px;
    height: 44px;
    padding: 12px 15px;
    color: var(--yellow);
    border-radius: 8px;
    transition: all 0.3s ease 0s;

    &.active {
        background-color: var(--item-bg);
        border: 1px solid var(--yellow);
    }

    @media (any-hover: hover) {
        &:hover {
            background-color: var(--item-menu-hover);
        }
    }
}

